<a href="https://colab.research.google.com/github/junsikpark91/GoogleColab/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction of Python

* What is Programming
 * Writing the computer language (ex. C, C++, JAVA, Python etc.) to make the computer to do the command 
* Python?
 * Script language: Instead of compiling the source code, software(python) interprets the code 
  * Pros
   * Easy Grammar
   * Easy to read
   * Many  libraries
   * Broad Application
  * Cons
   * Slower than complier

# Python Data Type

 * Data Type?
   * Complier based Programming Language (C/Java) shoud define the data type in memory (RAM)
   * Define data type of the variable, and assign data
   * In Python, however, no need of definition for the data type
 * Data Type in Python
   * Number: Integer, float, octal(8) number, hexadecimal (16)
   * String
   * List
   * Tuple
   * Dictionary
   * Set

# Variable
 * What is variable?
  * Pointer: The place where the data stored (Memory address)
  * But it makes hard to develope software if we use memory address as variable name
  * So, assign easy name to manage variable

 * Rule 
  * Variable_name = value (ex: a=1024)
  * Only English name
  * No special character is allowed in naming
  * lower case

In [1]:
# Data Type: Numbers

a =4 
b=32.195
c=bin(42)
d= oct(42)
e=hex(42)

print("Integer: ", a)
print("Float: ",b)
print("Binary: ", c)
print("Octa: ", d)
print("Hexa: ", e)

Integer:  4
Float:  32.195
Binary:  0b101010
Octa:  0o52
Hexa:  0x2a

In [2]:
# Arithmetic Operators

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(39%4)

36.195
-28.195
128.78
0.12424289485945023
3

In [3]:
# String : "" or ''

my_string = "Python"
my_string2 = 'Basic'

# Print
print(my_string)
print(my_string2)

Python
Basic

In [4]:
# Adding

print(my_string+ "-"+ my_string2)

#Multiplying

print(my_string*5)

Python-Basic
PythonPythonPythonPythonPython

# String: Indexing, Slicing

* Manipulating string data by using index number
 * Indexing: String assings index number in each character
 * slincing: Printing some or all character by using index number

In [2]:
# Slicing, Indexing

my_string = "Practice Python"

# Indexing
print(my_string[0])
print(my_string[1])
print(my_string[2])
print()

# Reverse output
print(my_string[-1])
print(my_string[-2])

#Slicing

print(my_string[0:3])
print(my_string[:8])
print(my_string[-6:])
print(my_string[-6:-3])

P
r
a

n
o
Pra
Practice
Python
Pyt

#String Function
* count(): count the number of character in the string
* find(): Finding location
* replace(): Replace chracter
* split(): Split string into pieces

In [4]:
#Count()
print(my_string.count(" "))

#find()
print(my_string.find("Practice"))
print(my_string.find("Python"))

#replace()
print(my_string.replace("Practice","Learning"))

1
0
9
Learning Python

#List
##List Data Type
* In C and Java, List means the linked list
* In Python, simliar but not a list
 * Access by Index value
 * Function exists as a object

## List Function

* a.append(4): add number '4' at the last place of the list
* a.sort(): sorting the list value 
* a.reverse(): Reverse the value
* a.index(3): Returning index number of '3'
* a.insert(3,5): inserting '5' at the 3rd index
* a.remove(3): Remove first '3' (just first once) in the list
* a.pop(): Returning last value in the list and remove last value

In [8]:
# Function

my_list= [1 ,2, 3]
my_list.append(4)
print(my_list)

my_list.reverse()
print(my_list)

print(my_list.index(3))

my_list.insert(3,5)
print(my_list)

my_list.remove(3)
print(my_list)

print("Pop: {}".format(my_list.pop()))
print(my_list)

[1, 2, 3, 4]
[4, 3, 2, 1]
1
[4, 3, 2, 5, 1]
[4, 2, 5, 1]
Pop: 1
[4, 2, 5]

# Tuple
## Tuple Data Type
* Similar with list
* Can't change the value in Tuple
* Uses Parenthesis ()
* Can initialize value using comma ,

In [1]:
my_t1 = (1,2,3)
my_t2 = (1, )
my_t3 = 1, 2, 3

print(my_t1)
print(my_t2)
print(my_t3)

(1, 2, 3)
(1,)
(1, 2, 3)

#Dictionary

##Dictionary Data Type
* 'Key' and 'Value' are stored
* 'Key' is unique value
* Fastest way in searching value
* No index number
* Using high volume of memory

* Use braces {} to initialize dictionary
* Use bracket [ ] to insert value

In [4]:
# Initialize Dictionary
my_dict={}

# Insert Key-Value 
my_dict['name']='Kevin'
my_dict['weight']='78kg'
my_dict[11] = 'location'

print(my_dict)

# Delete 

del my_dict[11]
print(my_dict)

# Search Key value
print(my_dict.keys())

{'name': 'Kevin', 'weight': '78kg', 11: 'location'}
{'name': 'Kevin', 'weight': '78kg'}
dict_keys(['name', 'weight'])

# Conditional Statements

## Relational Operater

* a>b: Is a greater than b?
* a<b: Is b greater than a?
* a>=b: Is a greater or equal to b
* a<=b: is b greater or equal to a
* a==b: Is a equal to b
* a!=b: is a not equal to b?

## Logical Operator
* not x: if x is true than it is false/ if x is false than it is true
* x and y: if both x and y true than it is true
* x or y: one of the variable are true than true

In [8]:
num = 10

if num ==10:
  print("num is equal to 10")

if num != 10:
  print("Num is not equal to 10")

if num > 10:
  print("Num is greater than 10")

if num < 10:
  print("Num is less than 10")

if num >= 10:
  print("Num is greater or equal to 10")

if num <= 10:
  print("Num is less or equal to 10")

print()

num1=10
num2=20

if num1 == 10 and num2 >= 20:
  print("Q1:True")
if num1 != 10 and num2 == 20:
  print("Q2:True")

if num1 > 10 or num2 >=10:
  print("Q3: True")

if num1 < 10 or num2 < 5:
  print("Q4: True")

num is equal to 10
Num is greater or equal to 10
Num is less or equal to 10

Q1:True
Q3: True

In [10]:
# If-elif

num= 14
if num == 14:
  print("Num is 14")
  num =15

elif num > 14:
  print("Num is greater than 14")
  num= 20

print("Fianl num is {}".format(num))

Num is 14
Fianl num is 15

In [11]:
# If Only

num = 14
if num==14:
  print("Num is 14")
  num = 15
if num > 14:
  print("Num is greater than 14")
  num=20
  print("Final num is {}".format(num))

Num is 14
Num is greater than 14
Final num is 20